<!DOCTYPE html>
<html>
<head>
  <title>GeoDex</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%# google_webfonts_init({google: ['OpenSans', 'Oxygen']}) %>
</head>
<body>
<p class="notice hide"><%= notice %></p>
<p class="alert hide"><%= alert %></p>

<%= yield %>

</body>
</html>
