<!DOCTYPE html>
<html ng-app="GeoDex">
<head>
  <title>GeoDex</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%# google_webfonts_init({google: ['OpenSans', 'Oxygen']}) %>
</head>
<body ng-controller="FeaturesCtrl">
<p class="notice hide"><%= notice %></p>
<p class="alert hide"><%= alert %></p>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
